@model ICollection<imagestore.Models.AppImage>
@{
    ViewData["title"] = User.Identity.Name + "'s Image manager";
}

<h1 class="title mb-5">image manager</h1>
<div class="imagem-wrapper">
    <div class="image-add-new" id="addNew">
        <i class="fas fa-plus"></i>
        <p>new</p>
    </div>
    @foreach (AppImage image in Model)
    {
        <div class="imagem-item bg-image" style="background-image: url('data:image/png;base64,@Convert.ToBase64String(image.ImageData)')">
            <p class="imagem-title">@image.Title</p>
            <div class="imagem-action">
                <button type="button" class="btn btn-light btn-action">Info</button>
                <button type="button" @Html.Raw(!(bool)(image.IsPublic) ? "disabled" : "")  class="btn btn-light btn-action" onclick="copyToClipboard('https://@ViewBag.Hostname/Image/Show/@image.Slug', @image.ImageId)" id="@image.ImageId">
                    @Html.Raw(((bool) image.IsPublic) ? "Copy link" : "Private")
                </button>
            </div>

        </div>
    }

</div>

@section Scripts {
    <script type="text/javascript">
        function copyToClipboard(url, imageId) {
            navigator.clipboard.writeText(url);
            $("#" + imageId).text("Copied!");

            setTimeout(() => {
                $("#" + imageId).text("Copy Link");
            }, 2000);
        }

        $("#addNew").click(() => {
            location.href = "/Image/Upload";
        });
    </script>
}